<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
    
    <title>YT Dashboard</title>
</head>

<body>
